.ubuntu {
  font-family: Ubuntu;
}

.list {
	margin: 0 4em;
}

.item {
	margin: '1em 0';
}

.itemContainer {
	border-bottom: .5px solid #B9B9B9;
}

.itemText {
	font-weight: 600;
	line-height: 1;
}

.itemTitle {
	font-family: Ubuntu-Light;
	font-weight: 600;
}

@media only screen and (max-width: 600px) {
  .itemText{
		text-align: center;
	}
	
	.itemTitle{
		text-align: center;
	}
}